/*Her velger jeg body og html*/
*,html,body{
  /*Margin lager plass rundt elementet*/
    margin: 0;
  /*Padding er mellomrommet mellom elements kant og elementets innhold*/
    padding: 0;
  /*Elementet blir en boks (kantene)*/
    box-sizing:border-box;
}

/*velger body*/
body{
  /*Endrer høyden til auto*/
    height:auto;
  /*Endrer bakgrunnsfargen til #D7D6D4*/
    background-color:#D7D6D4;
}

/*Velger diven "Container"*/
.container {
  /*Legger på padding*/
    padding:50px 60px;
    /*Under endrer jeg griden til nettsiden*/
    display: grid;
    /*Hvordan kolonnene til griden skal være*/
    /*Fr står for "flex"*/
    grid-template-columns: .25fr .25fr 1.25fr .5fr;
    /*Hvordan radene i gridden skal være*/
    grid-template-rows: .75fr .75fr 2.25fr;

/*Her er hvordan griden er plassert*/
    grid-template-areas:
    'L L N S'
    'Si P T A'
    'Si M M A';
}

/*Velger diven "linje" som er linjen på toppen av nettsiden*/
.linje {
  /*Gir den en plass/bokstav i griden*/
    grid-area: L;
}


/*Velger diven "main-content-wrapperr" som er hovedinnholdet på siden*/
.main-content-wrapper{
  /*Gir den en plass/bokstav i griden*/
    grid-area: M;
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    grid-row: auto;
}

/*Velger diven "line-decoration" som er linjen på toppen*/
.line-decoration {
    /*Endrer høyden*/
    height: 1px;
    /*Endrer fargen på linjen*/
    background-color: black;
}


  /*Velger diven "title-wrapper" som er tittelen/overskriften på siden*/
.title-wrapper{
  /*Gir den en plass/bokstav i griden*/
    grid-area: T;
    /*Legger på padding*/
    padding: 10px 0 20px 20px;
}


  /*Velger diven title-heading" som er tittelen/overskriften på siden*/
.title-heading{
  /*Endrer tykkelsen på teksten*/
    font-weight: 500;
    /*Endrer størrelsen på teksten*/
    font-size:60px;
    /*Endrer margin*/
    margin: 15px 0 0 0px;
    /*Endrer letter spacing*/
    letter-spacing: 3px;
}

/*Velger diven "img-wrapper" som er hovedinnholdet/bildet på siden*/
 .img-wrapper {
  /*Flex oppfører seg som et blokkelement*/
    display:flex;
    /*Flytter innholdet til midten*/
    justify-content:center;
    /*Legger på padding*/
    padding: 20px;
}

/*Velger diven "img-container" som er hovedinnholdet/bildet på siden*/
.img-container {
  /*Endrer bredden*/
    width:250px;
    /*Endrer høyden*/
    height:350px;
    /*Gjør at bildet flyter*/
    overflow:visible;
    /*Lager skygge*/
    filter:drop-shadow(0px 5px 15px #00000056);
    /*Lager en overgang når du holder på bildet*/
    transition: all .2s ease ;
}

/*Velger diven "img-container:hover" som er hovedinnholdet/bildet på siden når du holder musen over*/
.img-container:hover {
  /*Overgang fra minsket til forstørret*/
    transform:scale(1.05);
    /*Skyggen når forstørret*/
    filter:drop-shadow(0px 0px 10px #00000056);
}

/*Velger diven "image" som er bildet på siden*/
.image {
  /*Velgr bredde*/
    width:100%;
  /*Velger bredde*/
    height:100%;
    /*Får bildet til å passe i ruten*/
    object-fit: cover;

}



.content-paragraph{
  /*Velger font størrelse*/
    font-size:15px;
    /*Font type*/
    font-family: 'Roboto', sans-serif;
    /*Font tykkelse*/
    font-weight: 400;
    /*Mellomrom mellom bokstavene*/
    letter-spacing: 1px;

}
  /*Velger diven "articles-wrapper" som er artikklene på høyre side*/
  .articles-wrapper {
    /*Gir den en plass/bokstav i griden*/
    grid-area: A;
    /*Velger padding*/
    padding:10px;
}


/*Velger diven "next-articles-text" som er teksten "flere artikkler" på høyre side*/
.next-articles-text{
  /*Velger font størrelse*/
    font-size:12px;
      /*Font type*/
    font-family: 'Roboto Mono',monospace;
    /*Font tykkelse*/
    font-weight: 700;
    /*Gjør alle bokstavene store*/
    text-transform: uppercase;
    /*Endrer linje høyde*/
    line-height:1;
      /*Mellomrom mellom bokstavene*/
    letter-spacing: 3px;
    /*Endrer margin bunn*/
    margin-bottom:15px;
    /*Endrer margin til venstre*/
    margin-left: 10px;
}

/*Velger diven "article" som er artikklene på siden*/
.article{
  /*Flex oppfører seg som et blokkelement*/
    display: flex;
    /*Legger alt på midten*/
    align-items:center;
    /*Legger til padding*/
    padding:10px;
    /*Legger til margin på bunnen*/
    margin-bottom:10px;
    /*Lager skygge på boksene*/
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.1);
}

/*Velger diven "article:hover" som er artikklene på siden når musen er over*/
.article:hover{
  /*Endrer bakgrunnsfargen til hvit*/
    background-color:#ffffff;
    /*Gjør at boksene roterer litt når du har musen over*/
    transform: perspective(400px) rotateX(10deg);
}

/*Velger diven "article-img" som er bildene på artikklene*/
.article-img{
  /*Endrer bredden*/
    width: 50px;
    /*Endrer høyden*/
    height: 50px;
    /*Endrer margin til høyre*/
    margin-right: 20px;
}


/*Velger diven "article-title" som er tittlene på artikklene*/
.article-title{
  /*Endrer font størrelse*/
font-size:15px;
/*Endrer font type*/
font-family: 'Roboto Mono',monospace;
/*Endrer font tykkelse*/
font-weight: 300;
/*Gjør alle bokstavene store*/
text-transform: uppercase;
/*Endrer linjehøyden*/
line-height:1;
/*Endrer avstanden på bokstavene*/
letter-spacing: 4px;
/*Endrer margin på bunnen*/
margin-bottom: 10px;
}

/*Velger diven "article-date" som er datoen på artikklene*/
.article-date {
  /*Endrer font størrelse*/
    font-size:12px;
    /*Endrer font type*/
    font-family: 'Roboto', sans-serif;
    /*Endrer font tykkelse*/
    font-weight: 400;
/*Lager stor bokstav på starten*/
    text-transform: capitalize;
    /*Endrer linjehøyde*/
    line-height:1;
    /*Endrer avstanden på bokstavene*/
    letter-spacing: 1px;
/*Endrer fargen på teksten til "#0000005d" */
    color: #0000005d;
}

/*Velger diven "bok-wrapper" som er boksen der bøkene er*/
.bok-wrapper {
  /*Endrer padding*/
    padding:10px 0 0 0;
    /*Endrer breden*/
    width: 100%;
}

/*Velger diven "bok-text" som er teksten på bøkene*/
.bok-text {
  /*Endrer font størrelse*/
    font-size: 12px;
  /*Endrer font type*/
    font-family: 'Roboto Mono', monospace;
  /*Endrer font tykkelse*/
    font-weight: 700;
  /*Gjør alle bokstavene store*/
    text-transform: uppercase;
  /*Endrer linjehøyde*/
    line-height: 1;
  /*Endrer avstanden på bokstavene*/
    letter-spacing: 3px;
  /*Endrer margin på bunnen*/
    margin-bottom: 20px;
    /*Endrer margin til venstre*/
    margin-left: 10px;
}

/*Velger diven "bok" som er om bøkene på siden*/
.bok {
  /*Flex oppfører seg som et blokkelement*/
        display: flex;
  /*Legger til padding*/
        padding: 10px;
  /*Endrer margin på bunnen*/
        margin-bottom: 10px;

}

/*Velger diven "bok-img" som er bildene til bøkene på siden*/
.bok-img {
  /*Endrer bredden*/
    width: 50px;
  /*Endrer høyden*/
    height: 80px;
  /*Endrer margin til høyre*/
    margin-right: 20px;
}

/*Velger diven "bok-title" som er tittelen til bøkene på siden*/
.bok-title {
  /*Endrer font størrelse*/
    font-size: 15px;
    /*Endrer font type*/
    font-family: 'Roboto Mono', monospace;
    /*Endrer font tykkelse*/
    font-weight: 700;
    /*Gjør alle bokstavene store*/
    text-transform: uppercase;
    /*Endrer linjehøyde*/
    line-height: 1;
    /*Endrer avstanden på bokstavene*/
    letter-spacing: 4px;
    /*Endrer margin på bunnen*/
    margin-bottom: 10px;
   /*Endrer tekstfargen til svart*/
    color: black;
}

/*Velger diven "bok" som er fofatteren på bøkene*/
.bok{
  /*Endrer font størrelse*/
    font-size: 12px;
    /*Endrer font type*/
    font-family: 'Roboto',sans-serif;
    /*Endrer font tykkelse*/
    font-weight: 400;
    /*Endrer avstanden på bokstavene*/
    letter-spacing: 1px;
    /*Endrer tekstfargen til "#0000005d" */
    color: #0000005d;
}



  /*Her kommer alt som har med menyen å gjøre*/
.sidebar {
  /*Høyden på menyen*/
  height: 100%;
  /*Gjemmer menyen når du ikke har trykket på knappen*/
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: white;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
