/*Her velger jeg body og html*/
*,html,body{
  /*Margin lager plass rundt elementet*/
    margin: 0;
  /*Padding er mellomrommet mellom elements kant og elementets innhold*/
    padding: 0;
  /*Elementet blir en boks (kantene)*/
    box-sizing:border-box;
}

/*velger body*/
body{
  /*Endrer høyden til auto*/
    height:auto;
  /*Endrer bakgrunnsfargen til #D7D6D4*/
    background-color:#D7D6D4;
}

/*Velger diven "Container"*/
.container {
  /*Legger på padding*/
    padding:50px 60px;
    /*Under endrer jeg griden til nettsiden*/
    display: grid;
    /*Hvordan kolonnene til griden skal være*/
    /*Fr står for "flex"*/
    grid-template-columns: .25fr .25fr 1.25fr .5fr;
    /*Hvordan radene i gridden skal være*/
    grid-template-rows: .75fr .75fr 2.25fr;

/*Her er hvordan griden er plassert*/
    grid-template-areas:
    'L L N S'
    'Si P T A'
    'Si M M A';
}

/*Velger diven "linje" som er linjen på toppen av nettsiden*/
.linje {
  /*Gir den en plass/bokstav i griden*/
    grid-area: L;
}


/*Velger diven "main-content-wrapperr" som er hovedinnholdet på siden*/
.main-content-wrapper{
  /*Gir den en plass/bokstav i griden*/
    grid-area: M;
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    grid-row: auto;
}

/*Velger diven "line-decoration" som er linjen på toppen*/
.line-decoration {
    /*Endrer høyden*/
    height: 1px;
    /*Endrer fargen på linjen*/
    background-color: black;
}


  /*Velger diven "title-wrapper" som er tittelen/overskriften på siden*/
.title-wrapper{
  /*Gir den en plass/bokstav i griden*/
    grid-area: T;
    /*Legger på padding*/
    padding: 10px 0 20px 20px;
}


  /*Velger diven title-heading" som er tittelen/overskriften på siden*/
.title-heading{
  /*Endrer tykkelsen på teksten*/
    font-weight: 500;
    /*Endrer størrelsen på teksten*/
    font-size:60px;
    /*Endrer margin*/
    margin: 15px 0 0 0px;
    /*Endrer letter spacing*/
    letter-spacing: 3px;
}

/*Velger diven "img-wrapper" som er hovedinnholdet/bildet på siden*/
 .img-wrapper {
  /*Flex oppfører seg som et blokkelement*/
    display:flex;
    /*Flytter innholdet til midten*/
    justify-content:center;
    /*Legger på padding*/
    padding: 20px;
}

/*Velger diven "img-container" som er hovedinnholdet/bildet på siden*/
.img-container {
  /*Endrer bredden*/
    width:250px;
    /*Endrer høyden*/
    height:350px;
    /*Gjør at bildet flyter*/
    overflow:visible;
    /*Lager skygge*/
    filter:drop-shadow(0px 5px 15px #00000056);
    /*Lager en overgang når du holder på bildet*/
    transition: all .2s ease ;
}

/*Velger diven "img-container:hover" som er hovedinnholdet/bildet på siden når du holder musen over*/
.img-container:hover {
  /*Overgang fra minsket til forstørret*/
    transform:scale(1.05);
    /*Skyggen når forstørret*/
    filter:drop-shadow(0px 0px 10px #00000056);
}

/*Velger diven "image" som er bildet på siden*/
.image {
  /*Velgr bredde*/
    width:100%;
  /*Velger bredde*/
    height:100%;
    /*Får bildet til å passe i ruten*/
    object-fit: cover;

}


.main-content-wrapper .content-wrapper .content-heading{
    font-family: 'Merriweather',
    serif;
    font-weight: 500;
    font-size:30px;

    letter-spacing: 3px;
    line-height:1;

    margin-bottom: 30px;

    color:black;
}


.main-content-wrapper .content-wrapper .content-paragraph{
    font-size:15px;
    font-family: 'Roboto',
    sans-serif;
    font-weight: 400;

    text-align: left;
    line-height:1.5;
    letter-spacing: 1px;

    margin-bottom: 10px;

    color:black;
}


.main-content-wrapper .content-wrapper .content-button{
    font-size:12px;
    font-family: 'Roboto Mono',
    monospace;
    font-weight: 400;

    text-align: center;
    text-transform: uppercase;
    line-height:1;
    letter-spacing: 3px;

    margin-top: 20px;

    color:white;

    padding:10px 15px;
}
  /*Velger diven "articles-wrapper" som er artikklene på høyre side*/
  .articles-wrapper {
    /*Gir den en plass/bokstav i griden*/
    grid-area: A;
    display: flex;
    flex-direction:column;
    align-items:center;
    padding:10px;
}

.articles-wrapper .next-articles-wrapper{
    display: flex;
    flex-direction:column;

    margin-bottom: 30px;
    width:100%;
}

.articles-wrapper .next-articles-wrapper .next-articles-text{
    font-size:12px;
    font-family: 'Roboto Mono',
    monospace;
    font-weight: 700;

    /* text-align: left; */
    text-transform: uppercase;
    line-height:1;
    letter-spacing: 3px;

    margin-bottom:15px;
    margin-left: 10px;

    color:black;
}

.articles-wrapper .next-articles-wrapper .articles-block{
    display: flex;
    flex-direction:column;

    /* gap:10px; */

    width:100%;
}

.articles-wrapper .next-articles-wrapper .articles-block .article{
    display: flex;
    flex-direction: row;
    align-items:center;

    width: 100%;

    padding:10px;
    margin-bottom:10px;

    background-color:hsla(0, 0%, 100%, 0.2);
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.1);
}

.articles-wrapper .next-articles-wrapper .articles-block .article:hover{
    background-color:#ffffff;
    transform: perspective(400px) rotateX(10deg);
}

.articles-wrapper .next-articles-wrapper .articles-block .article .article-img{
    width: 50px;
    height: 50px;

    margin-right: 20px;
    object-fit: cover;
}

.articles-wrapper .next-articles-wrapper .articles-block .article .article-content{
    display: flex;
    flex-direction: column;

    /* justify-content: space-between; */
}

.articles-wrapper .next-articles-wrapper .articles-block .article .article-content .article-title{
font-size:15px;
font-family: 'Roboto Mono',
monospace;
font-weight: 300;

/* text-align: left; */
text-transform: uppercase;
line-height:1;
letter-spacing: 4px;

margin-bottom: 10px;

color:black;
}

.articles-wrapper .next-articles-wrapper .articles-block .article .article-content .article-date {
    font-size:12px;
    font-family: 'Roboto',
    sans-serif;
    font-weight: 400;

    /* text-align: left; */
    text-transform: capitalize;
    line-height:1;
    letter-spacing: 1px;

    color: #0000005d;
}



.articles-wrapper .bok-wrapper {
    display: flex;
    flex-direction: column;

    padding:10px 0 0 0;
    width: 100%;
}

.articles-wrapper .bok-wrapper .bok-text {
    font-size: 12px;
    font-family: 'Roboto Mono',
        monospace;
    font-weight: 700;

    /* text-align: left; */
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 3px;

    margin-bottom: 20px;
    margin-left: 10px;

    color: black;
}

.articles-wrapper .bok-wrapper .bok-block {
    display: flex;
    flex-direction: column;

    /* gap:10px; */

    width: 100%;
}

    .articles-wrapper .bok-wrapper .bok-block .bok {
        display: flex;
        flex-direction: row;
        /* align-items: center; */

        width: 100%;

        padding: 10px;
        margin-bottom: 10px;

}

.articles-wrapper .bok-wrapper .bok-block .bok .bok-img {
    width: 50px;
    height: 80px;

    margin-right: 20px;
    object-fit: cover;
}

.articles-wrapper .bok-wrapper .bok-block .bok .bok-content {
    display: flex;
    flex-direction: column;

    /* justify-content: space-between; */
}

.articles-wrapper .bok-wrapper .bok-block .bok .bok-content .bok-title {
    font-size: 15px;
    font-family: 'Roboto Mono',
        monospace;
    font-weight: 700;

    /* text-align: left; */
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 4px;

    margin-bottom: 10px;

    color: black;
}

.bok{
    font-size: 12px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #0000005d;
}


    .articles-wrapper .next-articles-wrapper {
        padding-top: 10px;
    }
}




body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: white;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
